ASE - AuctionHouse - 3/src/config/wsdl/AuctionHouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.auctionhouse.ase.columbia.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.auctionhouse.ase.columbia.edu/" name="AuctionHouse">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.auctionhouse.ase.columbia.edu/" schemaLocation="http://localhost:8888/AuctionHouse?xsd=1"/>
</xsd:schema>
</types>
<message name="placeBid">
<part name="parameters" element="tns:placeBid"/>
</message>
<message name="placeBidResponse">
<part name="parameters" element="tns:placeBidResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getActiveAuctions">
<part name="parameters" element="tns:getActiveAuctions"/>
</message>
<message name="getActiveAuctionsResponse">
<part name="parameters" element="tns:getActiveAuctionsResponse"/>
</message>
<portType name="AuctionHouseWebServiceImpl">
<operation name="placeBid">
<input wsam:Action="http://webservice.auctionhouse.ase.columbia.edu/AuctionHouseWebServiceImpl/placeBidRequest" message="tns:placeBid"/>
<output wsam:Action="http://webservice.auctionhouse.ase.columbia.edu/AuctionHouseWebServiceImpl/placeBidResponse" message="tns:placeBidResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.auctionhouse.ase.columbia.edu/AuctionHouseWebServiceImpl/placeBid/Fault/Exception"/>
</operation>
<operation name="getActiveAuctions">
<input wsam:Action="http://webservice.auctionhouse.ase.columbia.edu/AuctionHouseWebServiceImpl/getActiveAuctionsRequest" message="tns:getActiveAuctions"/>
<output wsam:Action="http://webservice.auctionhouse.ase.columbia.edu/AuctionHouseWebServiceImpl/getActiveAuctionsResponse" message="tns:getActiveAuctionsResponse"/>
</operation>
</portType>
<binding name="AuctionHouseWebServiceImplPortBinding" type="tns:AuctionHouseWebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="placeBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getActiveAuctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AuctionHouse">
<port name="AuctionHouseWebServiceImplPort" binding="tns:AuctionHouseWebServiceImplPortBinding">
<soap:address location="http://localhost:8888/AuctionHouse"/>
</port>
</service>
</definitions>